.big-collection{
    width: 90%;
    margin: 100px auto;
}
.big-collection .collect-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    grid-row-gap: 20px;
}
.collect-flex .link{
    margin-top: 20px;
}
.big-collection .collect{
    margin: 0px 10px;
}
.collect-flex .link a{
    display: inline-block;
    color: var(--main-color);
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
}
.collect-flex .link a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--main-color);
    left: 0%;
    top: 23px;
    transform: scale(0);
    transition: .5s ease-in-out;
}
.collect-flex .collect:hover a::before{
    transform: scale(1);
}

.collect-flex .collect .image{
    position: relative;
}
.collect .image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 0;
    border: 1px solid transparent;
}
.big-collection .collect:hover .image::before{
    animation: animate1 .6s linear forwards;
}

@keyframes animate1 {
    0%{
        width: 0;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: var(--main-color);
        border-right-color: var(--main-color);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.collect .image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 0;
    border: 1px solid transparent;
}
.big-collection .collect:hover .image::after{
    animation: animate2 .6s linear forwards;
}

@keyframes animate2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: var(--main-color);
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: var(--main-color);
        border-left-color: var(--main-color);
    }
}

@media(max-width: 1230px){
    .big-collection .collect-flex{
        display: flex;
        justify-content: center;
    }
}

