.bg-show{
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) , url(pic/h1_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 300px 0px;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-show .link{
    width: 200px;
    height: 200px;
    border: 1px solid #f9f9f9;
    text-align: center;
    line-height: 200px;
    border-radius: 50%;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.bg-show .link:hover{
    border-color: rgb(153,153,153);
}
.bg-show .link a{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: .2s ease-in-out;
    color: #FFF;
}
.bg-show .link img{
    width: 2.2rem;
    vertical-align: middle;
    margin-left: -5px;
}
.bg-show .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 111;
    display: none;
}
.bg-show .image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bg-show .image .cancel{
    position: absolute;
    top: -27px;
    right: 0;
    width: 20px;
    cursor: pointer;
}
.bg-show .image .bg-player{
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    width: 35px;
}
.bg-show .bg-player img{
    width: 35px;
}


.bg-show .image{
    animation: video 1s ease-in-out forwards;
}
@keyframes video {
    0%{
        opacity: 0;
        top: 20%;

    }
    100%{
        opacity: 1;
        top: 50%;
    }
}

@media(min-width: 992px){
    .bg-show .image video{
        width: 650px;
    }
}
@media(max-width: 991px){
    .bg-show .image video{
        width: 600px;
    }
}

@media(max-width: 768px){
    .bg-show .image video{
        width: 450px;
    }
    .bg-show .link img{
        width: 2rem;
    }
    .bg-show .link{
        width: 150px;
        height: 150px;
        line-height: 150px;
    }
}
@media(max-width: 576px){
    .bg-show .image video{
        width: 400px;
    }
    .bg-show .link a{
        font-size: 14px;
    }
    .bg-show .link img{
        width: 1.7rem;
    }
    .bg-show .link{
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
}
@media(max-width: 401px){
    .bg-show .image video{
        width: 200px;
    }
}
